body {
  margin:0;
  padding: 0;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

/*иконочный шрифт*/
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
  url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  /*speak: none;*/
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */
/*конец иконочного шрифта*/


.main-navigation ul {
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%,0%);
      -ms-transform: translate(-50%,0%);
       -o-transform: translate(-50%,0%);
          transform: translate(-50%,0%);
}

.main-header {
  /*min-height: 56px;*/
  font-size: 0;
  background-color: #fefefe;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.main-navigation li:nth-child(2) {
  margin-right: 20%;
}

.main-navigation a {
  display: block;
  margin: 18px 25% 19px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #cacaca;
}

.main {
  background-color: #ffffff;
}

.promo-block {
  margin: 0 auto 59px;
  padding-bottom: 76px;
  padding-top: 76px;
  text-align: center;
  background:
    url("../img/arrow-mask.png") no-repeat 0 1px,
    url("../img/bg-index-main.jpg") no-repeat 0 -85px;
  background-size: 100%, cover;
  background-position: 0 100%, 0 -81px;
}

.features-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 6%;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.features {
  min-height: 255px;
  overflow: hidden;
  background-color: #81b3d2;
}

.features-name {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.features-title-paragraph {
  margin: 21px 0 53px;
  padding: 0;
  text-align: center;
}

.features-paragraph {
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
  margin-top: 21px;
  text-align: center;
}

.features-item {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  width: 33.333%;
  min-height: 330px;
  padding: 161px 4% 0;
  text-align: center;
  background-color: #fefefe;
}

.features-item:before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.features-item:nth-child(1):before {
  width: 75px;
  height: 72px;
  background-position: -163px -5px;
}

.features-item:nth-child(2):before {
  width: 74px;
  height: 70px;
  background-position: -79px -5px;
}

.features-item:nth-child(3):before {
  width: 64px;
  height: 76px;
  background-position: -5px -5px;
}

.features-text {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  width: 33.333%;
  padding: 54px 5% 0;
  min-height: 256px;
  text-align: center;
  color: #ffffff;
}

.features-picture {
  position: relative;
  float: left;
  width: 66.666%;
  min-height: 255px;
}

.features-picture img {
  position: absolute;
  top: -93px;
  left: 0;
}

.features-last-row {
  padding: 47px 5% 0;
  background-color: #eeeeee;
  color: #000000;
}

.bg-white {
  background: #ffffff;
}

.bg-gray {
  margin-bottom: 48px;
  background: #eeeeee;
}

.interesting {
  /*clear: both;*/
  min-height: 244px;
  text-align: center;
  background-color: #fefefe;
}

.interesting-title {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 30px;
  line-height: 40px;
}

.interesting-paragraph {
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
  line-height: 24px;
}

.form-open-btn {
  width: 568px;
  padding: 28px 0 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  background: #766357;
  color: #ffffff;
  border: none;
}


.main-footer {
  position: relative;
  min-height: 593px;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 555px;
  background: #f2f1ef url("../img/map-0.jpg") no-repeat 0 -108px;
  background-size: cover;
}

.footer-wrap {
  position: absolute;
  bottom: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 35px 0 37px;
  background-color: rgba(254, 254, 254, 0.9);
}

.hashtag,
.footer-social,
.copyright {
  float: left;
  width: 33.333%;
  min-height: 48px;
  text-align: center;
}

.hashtag a {
  display: block;
  margin: 10px 30%;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  text-decoration: none;
  color: #000000;
}

.hashtag a:hover {
  color: #81b3d2;
}

.hashtag a:active {
  color: #bdbbbc;
}

.footer-social {
  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
  color: #ffffff;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn span {
  font-size: 21px;
  line-height: 48px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.copyright {
  line-height: 49px;
}

.academy-logo {
  display: inline-block;
  position: relative;
  width: 113px;
  height: 39px;
  margin-left: 5px;
  vertical-align: middle;
  background: url("../img/sprite.png") no-repeat -248px -5px /*rgba(0, 0, 0, 0.1)*/;
}

.academy-logo:hover {
  background-position: -494px -5px;
}

.academy-logo:active {
  background-position: -371px -5px;
}


/*форма поиска гостиницы на главной*/
.index-form {
  position: absolute;
  /*display: none;*/
  top: 0  ;
  left: 50%;
  -webkit-transform: translate(-50%,0%);
      -ms-transform: translate(-50%,0%);
       -o-transform: translate(-50%,0%);
          transform: translate(-50%,0%);
  margin: 0 auto;
  padding-top: 54px;
  width: 568px;
  background: #ffffff;
  color: #000000;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.form-row {
  padding: 0 55px;
  font-weight: bold;
}

.form-column-left {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  width: 110px;
}

.form-column-right {
  position: relative;
  float: right;
  width: 346px;
}

.index-form input[type="text"] {
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background: #f2f2f2;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.index-form input[type="text"]:focus {
  outline: 2px solid #e5e5e5;
  background: #ffffff;
}

.date {
  width: 100%;
  padding: 8px 15px;
  margin-bottom: 30px;
}

.qty {
  width: 40%;
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
}

.icon-calendar {
  position: absolute;
  right: 4px;
  top: 8px;
  font-size: 21px;
  color: #c2c2c2;
}

.form-counter-left {
  position: relative;
  float: left;
  width: 114px;
  background: #f2f2f2;
}

.form-counter-right {
  position: relative;
  float: right;
  width: 114px;
  background: #f2f2f2;
}

.icon-minus {
  position: absolute;
  left: 9px;
  top: 10px;
  font-size: 14px;
  color: #c2c2c2;
}

.icon-plus {
  position: absolute;
  right: 9px;
  top: 10px;
  font-size: 14px;
  color: #c2c2c2;
}

.icon-calendar:hover,
.icon-minus:hover,
.icon-plus:hover {
  color: #000000;
}

.icon-calendar:active,
.icon-minus:active,
.icon-plus:active {
  color: #81b3d2;
}


.form-column-left label {
  display: block;
  padding: 9px 0;
}

.form-column-right label {
  float: left;
  padding: 9px 0;
  margin-left: 54px;
}

.btn {
  display:block;
  /*width: 458px;*/
  margin: 14px auto 0;
  padding: 3px 15px;
  text-decoration: none;
  font-weight:bold;
  color: #ffffff;
  background: #81b3d2;
  border:none;
}

.btn:hover {
  background: #669ec0;
}

.btn:active {
  color: #94b9d2;
  background: #5496bd;
}

.btn-find {
  width: 458px;
  margin: 55px auto;
  padding: 18px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-show {
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  background: transparent;
}

.btn-book {
  color: #ffffff;
  background: #766357;
}

.btn-book:hover {
  background: #604e43;
}

.btn-book:active {
  color: #928a85;
  background: #503e33;
}

/*конец формы*/





/*inner page*/
.active-page {
  margin: 17px auto;
  color: #766357;
  cursor: pointer;
}

.active-page:hover {
  color: #604e43;
}

.active-page:active {
  color: #dbd8d5;
}

.filter-form {
  padding: 28px 6% 6px;
  background: url("../img/bg-inner.jpg") no-repeat 0 -290px;
  background-size: cover;
}

.filter-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.filter-group {
  float: left;
  width: 170px;
}

.filter-group:first-child {
  margin-right: 8%;
}

.filter-mark {
  display: none;
}

.filter-mark + label {
  position: relative;
  display: block;
  margin-bottom: 25px;
  padding-left: 40px;
  color: #ffffff;
  cursor: pointer;
}

.filter-mark + label::before {
  content: "\2610";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 30px;
  height: 26px;
  font-family: "symbols-sedona";
  font-size: 24px;
}

.filter-mark:checked + label::before {
  content: "\2611";
}

.filter-mark:disabled + label::before {
  color: #6a6a6a;
}

.price-range {
  float: right;
  width: 328px;
}

.result-header {
  padding: 32px 6% 27px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fefefe;
  color: #000000;
}

.found {
  float: left;
  width: 164px;
  font-size: 21px;
  font-weight: bold;
}

.sort-title {
  float: left;
  padding-top: 2px;
  width: 115px;
  font-size: 12px;
}

.sort-by {
  float: left;
  margin: 0;
  padding: 0;
  width: 290px;
  font-size: 0;
}

.sort-by li {
  display: inline-block;
  width: 81px;
  padding-top: 2px;
  font-size: 12px;
  color: #81b3d2;
}

.link-sort {
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
  color: #cacaca;
  cursor: pointer;
}

.link-sort:hover {
  color: #81b3d2;
}

.link-sort:active {
  color: #000000;
}

.sort-arrows {
  position: relative;
  float: right;
  width: 50px;
  height: 25px;
  text-align: right;
}

.icon-up-dir,
.icon-down-dir {
  position: absolute;
  font-size: 23px;
  color: #cccccc;
}

.icon-up-dir {
  top: 0px;
  left: 4px;
}

.icon-down-dir {
  top: 0;
  left: 27px;
}

.icon-up-dir:hover,
.icon-down-dir:hover {
  color: #000000;
}

.icon-up-dir:active,
.icon-down-dir:active {
  color: #81b3d2;
}

.hotel-card {
  min-height: 90px;
  padding: 30px 6%;
  border-bottom: 1px solid #e5e5e5;
 }

.hotel-pic {
  float: left;
  width: 135px;
  margin-right: 30px;
}

.hotel-info {

}

.hotel-name {
  font-size: 21px;
  line-height: 16px; /*!!!*/
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #cacaca;
}

.hotel-info-left {
  float: left;
  width: 110px;
  margin-right: 6px;
  margin-top: 6px;
}

.hotel-info-right {
  float: left;
  width: 142px;
  margin-top: 6px;
}

.rating-box {
  float: right;
  width: 111px;
}

.stars {
  position: relative;
  display: block;
  margin-bottom: 26px;
  height: 15px;
  width: 100%;
}

.stars:after {
  content: "\2605";
  position: absolute;
  top: -25px;
  right: 0px;
  color: #81b3d2;
  font-size: 19px;
  font-style: normal;
  font-family: "symbols-sedona";
}

.rating {
  height: 27px;
  background: #f2f2f2;
  color: #666666;
  text-align: center;
  line-height: 27px;
}

.inner-footer {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 35px 0 36px;
  background-color: #fefefe;
}

